@page
@model RazerPizzeria.Pages.Checkout.ThankYouModel
@{
}

<div class="col-12">
    <h1 style="text-align:center">&#128525Thank you for ordering with uS&#128525</h1>
    <div class="w-100 row makeYourOwnDiv">
        <div class="col-4">
            <div class="align-items-center">
                <img src="~/images/Pizzas/Create.png" class="w-100 rotateLeft" />
            </div>
        </div>
        <div class="col-4">
            <div class="align-items-center">
                <img src="~/images/Pizzas/Create.png" class="w-100 rotateLeft" />
            </div>
        </div>
        <div class="col-4">
            <div class="align-items-center">
                <img src="~/images/Pizzas/Create.png" class="w-100 rotateLeft" />
            </div>
        </div>
    </div>
</div>
